# Tuple

Used to store one or more data in it. The difference lies in the ability to change members. The members of a tuple cannot be changed partially, but can be changed entirely by utilizing a variable initiation with a new value. The initiation of a tuple variable is done using parentheses '()'.

### - Accessing Tuple Elements

To access tuple elements, you can use positive and negative indexes

In [1]:
a = (10,"Agustus",19.45)

access positive index (from front))

In [2]:
print(a[1])

Agustus

access negative index (from behind)

In [3]:
print(a[-1])

19.45

### - Cannot Change and Add Tuple Elements

Unlike lists where you cannot change or add tuples. The same thing happens if we use the append() method to add members.

In [4]:
a[2] = 1945

TypeError: 'tuple' object does not support item assignment

In [5]:
a.append(2)

AttributeError: 'tuple' object has no attribute 'append'

### - Truncate and Duplicating Tuples

In [6]:
#truncate
b = a[0:2] 
print(b)

(10, 'Agustus')

In [7]:
#duplicate
c = a[:]
print(c)

(10, 'Agustus', 19.45)

### - Initiating Multi-Variables Using Tuples


Although we cannot make changes to the tuple, we can instantiate the tuple members into variables. However, the variables must be the same number as the tuple members.

a = (10,"Agustus",19.45)

put it into 4 variables because the tuple has 3 members

In [9]:
x, y, z = a

In [10]:
print(x, y, z)
print(type(x), type(y), type(z))

10 Agustus 19.45
<class 'int'> <class 'str'> <class 'float'>